{% extends 'base.html' %}

{% block content %} 

<section class="bg-dark">
    <div>
        <img src="../static/Images/whiskey-collection-md.jpg" style="position: relative; width: 100%; min-width: 100vh" alt="Shelves full of whiskey">  
        <div class="main-text-background bg-dark text-light bg-opacity-50 w-100 mt-1" style="position: absolute; top: 20%; align-items: center">
            <h1 class="main-text text-center" style="font-size: 8vh">Your Whiskey Collection</h1>
        </div>
    </div>
</section>

{% endblock %}